#container {
  width: 320px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid grey;
  position: relative;
}
#content {
  height: 380px;
  position: relative;
}
#content > div {
  height: 100%;
}
#content > div > div {
  height: 100%;
  position: relative;
}
li {
  list-style: none;
}
h2 {
  margin: 0;
}
h3 {
  text-align: center;
}
.navbar {
  margin-bottom: 0;
}
header .navbar .brand {
  text-align: center;
  display: block;
  float: none;
  width: 100%;
}
#category,
#today,
#graphs {
  width: 100%;
  height: 396px;
}
#category {
  overflow: scroll;
}
#category ul li {
  width: 90%;
  overflow: hidden;
  margin-bottom: 10px;
}
#category ul li .destroy {
  float: left;
  position: relative;
  top: 16px;
}
#category ul input {
  width: 90%;
  float: right;
}
#new-activity,
#new-activity-today {
  display: block;
  margin: 0 auto;
  width: 84%;
  padding: 3%;
  margin-bottom: 20px;
}
#today input {
  margin: 0 auto;
  display: block;
}
#today a {
  display: block;
  margin: 0 auto;
  width: 100px;
}
#today-category ul {
  width: 83%;
  margin: 0 auto 20px;
  background-color: white;
  border: 1px solid grey;
}
#today-category li {
  padding: 10px;
  background-color: #EBEBEB;
  margin: 2px;
}
#today-category h4 {
  text-align: center;
}
#today-category input {
  width: 50px;
  float: left;
}
#submit-today {
  margin: 0 auto;
  display: block;
  width: 150px;
}
.btn-back {
  position: absolute;
  top: -47px;
  left: 10px;
}
#today-summary article {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
#today-summary article span {
  font-weight: bold;
}
#today-summary article:first-child {
  margin-bottom: 20px;
}
#today-summary ul {
  background-color: white;
  border: 1px solid grey;
  margin: 0 auto 20px;
  width: 270px;
}
#today-summary li {
  padding: 10px;
  background-color: #EBEBEB;
  margin: 2px;
}
#today-summary .btn {
  width: 100px;
  position: absolute;
  bottom: 10px;
  left: 94px;
}
.bar-chart {
  overflow: visible;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 180px;
}
.bar-chart li {
  background-color: grey;
  height: 150px;
  width: 30px;
  float: left;
  margin-right: 10px;
  position: relative;
}
.bar-chart a {
  display: block;
  height: 100%;
}
.bar-chart h4 {
  position: absolute;
  bottom: -35px;
  left: 10px;
}
.bar-chart h5 {
  position: absolute;
  top: -30px;
  left: 5px;
}
#graphs section {
  width: 200px;
  margin: 0 auto;
  position: relative;
}
#graphs section h3 {
  font-size: 20px;
}
#graphs section .left {
  float: left;
  position: absolute;
  left: -28px;
  top: 12px;
}
#graphs section .right {
  float: right;
  position: absolute;
  top: 12px;
  right: -28px;
}
.btn-group {
  margin: 10px auto;
  display: block;
  width: 240px;
}
.btn-group > a {
  width: 90px;
}
footer .navbar {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
}
footer .navbar .nav {
  margin: 0 auto;
  float: none;
  overflow: hidden;
  width: 234px;
}
/* Behavior 
================================ */
.editing {
  background-color: black;
  color: white;
}
