<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Focus Happy</title>
	<link rel="stylesheet" href="styles/css/base.css">
  	<link rel="stylesheet" href="styles/css/bootstrap.min.css">
    <link type="text/css" href="jquery-ui/css/ui-lightness/jquery-ui-1.8.23.custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles/css/style.css">
  	
	<!--[if IE]>
	<script src="../../assets/ie.js"></script>
	<![endif]-->
</head>
<body>

<div id="container">


    <header>
        <a href="#login" class="btn btn-inverse btn-login">Logout</a>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="navbar">
            <div class="navbar-gradient">
                <a class="brand" href="#">FocusHappy</a>
            </div>
        </div>      
    </header>

    <section id="content">
    </section>


    <footer>
        <div class="navbar">
            <div>
                <ul class="nav">
                    <li><a href="#today" id="today-li">Today</a></li>
                    <li><a href="#graphs" id="graphs-li">Graphs</a></li>
                    <li><a href="#category" id="category-li">Category</a></li>
                </ul>
            </div>
        </div>   
    </footer>

</div> <!-- end of #container -->

<!-- ***** SCRIPTS ***** -->

<!-- ======= Login ========= -->
<script type="text/template" id="login-template">
        
        <div id="login" role="main">

        <form>
          <input id="email" type="text" placeholder="Email">
          <input id="password" type="text" placeholder="Password">
          <a id="create-acc" class="btn btn-success">Create Account</a>
          <a type="submit" id="login-btn" class="btn">Login</a>
        </form>

        <div id="login-succ">
            <h3>Thank you for Using Emo App!</h3>
            <a href="#today" class="btn btn-success">Get Started!</a>
        </div>

        <div id="login-fail">
            <h3>Wrong Password/ Username</h3>
            <a href="#login" class="btn btn-success">Try Again</a>
        </div>

</script>

<!-- ======= Today ========= -->
<script type="text/template" id="today-template">
        
        <div id="today" role="main">

            <h3>How do you feel today?</h3>
            <article id="emoticons"></article>
            
            <h3 id="happiness-score">5</h3>
            
            <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                <a class="ui-slider-handle ui-state-default ui-corner-all" style="left: 50%"></a>
            </div>

            <a href="#today-category" id="today-happiness"class="btn btn-success">Next</a>


        </div> <!-- today -->
</script>

    <!-- Display Activities -->
    <script type="text/template" id="today-category-template">

    <a href="#today" class="btn btn-inverse btn-back">Back</a>

        <div id="today-category">

            <h3>What did you do today</h3>
                <h4>My Activities</h4>
                <ul></ul>

            <a href="#today-summary" id="submit-today" type="submit" class="btn btn-success">Submit</a>
            <a href="#category" id="submit-today-empty" type="submit" class="btn btn-success">Create new activity</a>

        </div>
    </script>

        <!-- Input Activities for today  -->
        <script type="text/template" id="activity-static-view-template">
            <label class="checkbox">
                <input type="checkbox" name="activity" value="<%- id %>"/> <%- title %> 
            </label>
        
        </script>

    <!-- Today Summary -->
    <script type="text/template" id="today-summary-template">
        <div id="today-summary">

            <h3><span>Sep 2, Tue:</span></h3>
                
                <article id="happiness-score-summary">Happiness: <span>5</span></article>
                <article>Your Activities:</article>

                <ul>
                </ul>

                <button id="edit-today" class="btn btn-inverse">Edit</button>
        </div>
    </script>

<!-- ====== Graphs ========== -->
<script type="text/template" id="graphs-template">

    <div id="graphs" role="main">
        <div class="btn-group">
            <a href="#graphs"class="btn active">Week View</a>
            <a href="#activities-metrics"class="btn">Activities View</a>
        </div>

        <h3>Your Summary for <span>2013</span></h3>
        <section>  
            <h3>Sep 1 - Sep 7</h3>
                <button class="left"><img src="img/left.png"></button>
                <button class="right"><img src="img/right.png"></button>
        </section>
        <h1>no data</h1>
        <ul class="bar-chart"></ul>

    </div> <!-- graphs -->
</script>

<script type="text/template" id="bar-template">
	<a href="#single-day">
	<h4><%- weekday %></h4>
	<h5><%- feelings %></h5>
	</a>
</script>

<script type="text/template" id="week-template">
  <h3><%- week_duration %></h3>
  <button class="left"><img src=<%- left_button %>></button>
  <button class="right"><img src=<%- right_button %>></button>
</script>

    <!-- Single Day -->
    <script type="text/template" id="single-day-template">
        <a href="#graphs" class="btn btn-inverse btn-back">Back</a>

        <div id="single-day" role="main" class="cat-display">
            <div class="btn-group">
                <a href="#graphs" class="btn active">Week View</a>
                <a href="#activities-metrics" class="btn">Activities View</a>
            </div>   

            <h3>Activities for This Day:</h3>

            <ul id="single-day-activities">
            </ul>

            <ul class="bar-chart-single">
                <li id="tue"><h4>T</h4><h5>10</h5></li>
            </ul>

        </div> <!-- Category -->
    </script>
    
 <script type="text/template" id="single-day-activity-template">
 	<%- title %>
 </script>
 
 <script type="text/template" id="bar-char-single-template">
	<h4><%- weekday %></h4>
	<h5><%- feelings %></h5> 
 </script>   

    <!-- Activity Metrics -->
    <script type="text/template" id="activities-metrics-template">
        <div id="activities-metrics" role="main" class="cat-display">
            <div class="btn-group">
                <a href="#graphs"class="btn active">Week View</a>
                <a href="#activities-metrics"class="btn">Activities View</a>
            </div>
            <h3>Your Activities Rank</h3>

            <ul>
                <li><h4>7.8</h4>Coding</li>
                <li><h4>6.5</h4>Music</li>
                <li><h4>6.0</h4>Badminton</li>
                <li><h4>5.0</h4>Hanging out</li>
                <li><h4>4.7</h4>Making Crafts</li>
                <li><h4>4.5</h4>Watching Movie</li>
                <li><h4>3.7</h4>Coughing</li>
            </ul>

        </div> <!-- Category -->
    </script>
    
<script type="text/template" id="metric-template">
	<h4><%- feeling %></h4><%- title %>
</script>    

<!-- ======= Category ========= -->
<script type="text/template" id="category-template">
    <div id="category" role="main" class="cat-display">
        <h3>Your 10 Things</h3>
            <input id="new-activity" placeholder="What do you spend your time on?">
        <ul></ul>
    </div> <!-- Category -->
</script>

        <!-- Input Activities  -->
    <script type="text/template" id="activity-template">
        
            <button class="destroy">X</button>
            <input class="edit" value="<%- title %>">
        
    </script>


<!-- Parse  -->
<!--<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.0.23.min.js"></script>-->
<script>   
    //Parse.initialize("FNNzzcapMPbeT1DVcGNr7c3VomWbbdlFXJCmJgQc", "3ckOpIUjY3lacVjq7ldcqL6vyThMqK78oy3cWsw6");
</script>

	<script type="text/javascript" src="jquery-ui/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="jquery-ui/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="jquery-ui/js/jquery.ui.touch-punch.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone-localstorage.js"></script>
    <script src="js/lib/clear-animate.js"></script>
	<script src="js/models/activityModel.js"></script>
	<script src="js/collections/activitiesCol.js"></script>
    <script src="js/collections/daysCol.js"></script>
    <script src="js/common-functions.js"></script>
	<script src="js/views/activityView.js"></script>
	<script src="js/views/categoryView.js"></script>
    <script src="js/views/barView.js"></script>
	<script src="js/views/graphsView.js"></script>
	<script src="js/views/single-dayView.js"></script>
	<script src="js/views/activities-metricsView.js"></script>
	<script src="js/views/loginView.js"></script>
    <script src="js/views/today-happinessView.js"></script>
    <script src="js/views/today-summaryView.js"></script>
    <script src="js/views/today-categoryView.js"></script>
	<script src="js/routers/router.js"></script>

</body>
</html>
