<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>HCI App</title>
	<link rel="stylesheet" href="../../assets/base.css">
  	<link rel="stylesheet" href="styles/css/bootstrap.min.css">
  	<link rel="stylesheet" href="styles/css/style.css">
	<!--[if IE]>
	<script src="../../assets/ie.js"></script>
	<![endif]-->
</head>
<body>

<div id="container">

    <header>
        <a href="#today" id="btn-back-today" class="btn btn-inverse btn-back">Back</a>
        <a href="#graphs" id="btn-back-graphs" class="btn btn-inverse btn-back">Back</a>

        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="navbar">
            <div class="navbar-gradient">
                <a class="brand" href="#">HCI Project</a>
            </div>
        </div>      
    </header>

    <section id="content">

    </section>


    <footer>
        <div class="navbar">
            <div>
                <ul class="nav">
                    <li><a href="#today" id="today-li">Today</a></li>
                    <li><a href="#graphs" id="graphs-li">Graphs</a></li>
                    <li><a href="#category" id="category-li">Category</a></li>
                </ul>
            </div>
        </div>   
    </footer>

</div> <!-- end of #container -->

<!-- ***** SCRIPTS ***** -->

<!-- ======= Today ========= -->
<script type="text/template" id="today-template">
        
        <div id="today" role="main"  >
            <h3>How do you feel today?</h3>
            <input name="score" placeholder="0" autofocus>
            <ul>
            </ul>
            <a href="#today-category" id="today-happiness"class="btn">Next</a>
        </div> <!-- today -->
</script>

    <!-- Display Activities -->
    <script type="text/template" id="today-category-template">
        <div id="today-category">

            <h3>What did you do today</h3>
                <h4>My Activities</h4>
                <ul></ul>

            <a href="#today-summary" id="submit-today" type="submit" class="btn btn-success">Submit</a>

        </div>
    </script>

        <!-- Input Activities for today  -->
        <script type="text/template" id="activity-static-view-template">
            
            <input type="checkbox" name="activity" value="<%- id %>"/> <%- title %> 
        
        </script>

    <!-- Today Summary -->
    <script type="text/template" id="today-summary-template">
        <div id="today-summary">

            <h3><span>Sep 2, Tue:</span></h3>
                
                <article>Happiness: <span>5</span></article>
                <article>Your Activities:</article>

                <ul>
                </ul>

                <a href="#today" class="btn btn-info">Edit</a>
        </div>
    </script>

<!-- ====== Graphs ========== -->
<script type="text/template" id="graphs-template">

    <div id="graphs" role="main">
        <div class="btn-group">
            <a href="#graphs"class="btn active">Week View</a>
            <a href="#activities-metrics"class="btn">Activities View</a>
        </div>

        <h3>Here is Your Summary</h3>
        <ul class="bar-chart">
            <li id="mon">
                <a href="#single-day">
                <h4>M</h4><h5>10</h5>
                </a>
            </li>
            <li id="tue">
                <a href="#single-day">
                <h4>T</h4><h5>10</h5>
                </a>
            </li>
            <li id="wed">
                <a href="#single-day">
                <h4>W</h4><h5>10</h5>
                </a>
            </li>
            <li id="thu">
                <a href="#single-day">
                <h4>T</h4><h5>10</h5>
                </a>
            </li>
            <li id="fri">
                <a href="#single-day">
                <h4>F</h4><h5>10</h5>
                </a>
            </li>
            <li id="sat">
                <a href="#single-day">
                <h4>S</h4><h5>10</h5>
                </a>
            </li>
            <li id="sun">
                <a href="#single-day">
                <h4>S</h4><h5>10</h5>
                </a>
            </li>
        </ul>

        <section>
            <h3>Sep 1 - Sep 7</h3>
            <button class="left">X</button>
            <button class="right">X</button>
        </section>
    </div> <!-- graphs -->
</script>

    <!-- Single Day -->
    <script type="text/template" id="single-day-template">
        <div id="single-day" role="main" class="cat-display">
            <div class="btn-group">
                <a href="#graphs" class="btn active">Week View</a>
                <a href="#activities-metrics" class="btn">Activities View</a>
            </div>   

            <h3>Activities for This Day:</h3>

            <ul id="single-day-activities">
                <li>Coding</li>
                <li>Music</li>
                <li>Badminton</li>
                <li>Hanging out</li>
                <li>Making Crafts</li>
                <li>Watching Movie</li>
                <li>Coughing</li>
            </ul>

            <ul class="bar-chart-single">
                <li id="tue"><h4>T</h4><h5>10</h5></li>
            </ul>

        </div> <!-- Category -->
    </script>

    <!-- Activity Metrics -->
    <script type="text/template" id="activities-metrics-template">
        <div id="activities-metrics" role="main" class="cat-display">
            <div class="btn-group">
                <a href="#graphs"class="btn active">Week View</a>
                <a href="#activities-metrics"class="btn">Activities View</a>
            </div>
            <h3>Your Activities Rank</h3>

            <ul>
                <li><h4>7.8</h4>Coding</li>
                <li><h4>6.5</h4>Music</li>
                <li><h4>6.0</h4>Badminton</li>
                <li><h4>5.0</h4>Hanging out</li>
                <li><h4>4.7</h4>Making Crafts</li>
                <li><h4>4.5</h4>Watching Movie</li>
                <li><h4>3.7</h4>Coughing</li>
            </ul>

        </div> <!-- Category -->
    </script>

<!-- ======= Category ========= -->
<script type="text/template" id="category-template">
    <div id="category" role="main" class="cat-display">
        <h3>Your 10 Things</h3>
            <input id="new-activity" placeholder="What do you spend your time on?" autofocus>
        <ul></ul>
    </div> <!-- Category -->
</script>

        <!-- Input Activities  -->
    <script type="text/template" id="activity-template">
        
            <button class="destroy">X</button>
            <input class="edit" value="<%- title %>">
        
    </script>

	<script src="../../assets/jquery.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone-localstorage.js"></script>
	<script src="js/models/activityModel.js"></script>
	<script src="js/collections/activitiesCol.js"></script>
    <script src="js/collections/daysCol.js"></script>
	<script src="js/views/activityView.js"></script>
	<script src="js/views/categoryView.js"></script>
    <script src="js/views/today-happinessView.js"></script>
    <script src="js/views/today-summaryView.js"></script>
    <script src="js/views/today-categoryView.js"></script>
	<script src="js/routers/router.js"></script>

</body>
</html>
