@grey: grey;

#container {
    width: 320px;
    height: 480px;
    margin: 0 auto;
    border: 1px solid grey;
    position: relative;
}

li {
    list-style: none;
}

h2 {
    margin: 0;
}

h3 {
    text-align: center;
}

.navbar {
    margin-bottom: 0;
}

header {

    .navbar .brand {
        text-align: center;
        display: block;
        float: none;
        width: 100%;
    }
}

#category, #today, #graphs {
    width: 100%;
    height: 396px;
}



#category {

    overflow: scroll;

    ul {

        li {
            width: 90%;
            overflow: hidden;
        }

        li .destroy {
            float: left;
            position: relative;
            top: 16px;
        }

        input {
            width: 90%;
            float: right;
        }
    }

}

    #new-activity {
        display: block;
        margin: 0 auto;
        width: 84%;
        padding: 3%;
    }

#today {
}

#graphs {
}


footer {

    .navbar {

        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;

        .nav {
            margin: 0 auto;
            float: none;
            overflow: hidden;
            width: 234px;
        }

    } 
}






/* Behavior 
================================ */

.editing {
    background-color: black;
    color: white;
}