@grey: grey;

@turq: #467F71;
@lightYellow: #FFE87A;
@darkYellow: #FFCA53;
@orange: #FF893B;
@red: #E52738;

.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.rounded-corners-left (@radius: 5px) {
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
}
.box-shadow() {
    -moz-box-shadow: 0px 1px 13px 3px #070707;
    -webkit-box-shadow: 0px 1px 13px 3px #070707;
    box-shadow: 0px 1px 13px 3px #070707;
}

.box-shadow-header() {
    -moz-box-shadow: 0px 0px 7px 1px #070707;
    -webkit-box-shadow: 0px 0px 7px 1px #070707;
    box-shadow: 0px 0px 7px 1px #070707;
}

.box-shadow-footer() {
    -moz-box-shadow: 0px 0px 7px 1px #070707;
    -webkit-box-shadow: 0px 0px 7px 1px #070707;
    box-shadow: 0px 0px 7px 1px #070707;
}

.list-view() {

    width: 90%;
    float: right;
    padding: 10px 5%;
    margin-bottom: 5px;
    font-size: 17px;
    color: white;
    .rounded-corners-left(8px);
}

.animation-left() {
    animation: aniLeft 1s;
    -moz-animation: aniLeft 1s; /* Firefox */
    -webkit-animation: aniLeft 1s; /* Safari and Chrome */
    -o-animation: aniLeft 1s; /* Opera */
}

.animation-right() {
    animation: aniRight 1s;
    -moz-animation: aniRight 1s; /* Firefox */
    -webkit-animation: aniRight 1s; /* Safari and Chrome */
    -o-animation: aniRight 1s; /* Opera */
}


@-webkit-keyframes aniLeft {
    0% {margin-left: -100px; opacity: 0.5;}
    100% {margin-left: -10px; opacity: 1;}
}

@-webkit-keyframes aniRight {
    0% {margin-right: -100px; opacity: 0.5;}
    100% {margin-right: -10px; opacity: 1;}
}

ul {
    margin: 0 0 20px;
    overflow: hidden;
}

h1, h2, h3, h4, #today-summary article {
    color: white;
}

.btn {
    clear: both;
}

body {
    background-image: url(../../img/bg_body.png);
    width: 100%;
}

#container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

}

header {

    background-image: url(../../img/bg_header.png);
    .box-shadow-header();
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid black;

    .navbar .brand {
        text-align: center;
        display: block;
        float: none;
        width: 100%;
    }

    .navbar .brand {
        color: white;
        text-shadow: none;
        font-weight: 300;
    }

    .navbar-gradient {
    }

    ul {
        overflow: hidden;
        margin: 0;
    }

    li {
        height: 3px;
        float: left;
        width: 20%;
    }

    li:first-child {
        background-color: @turq;
    }

    li:nth-child(2) {
        background-color: @lightYellow;
    }

    li:nth-child(3) {
        background-color: @darkYellow;
    }

    li:nth-child(4) {
        background-color: @orange;
    }

    li:nth-child(5) {
        background-color: @red;
    }

}

.btn-login {
    display: none;
}

#content {

    margin: 50px 0;
    position: relative;
    overflow-x: hidden;

    > div {
        height: 100%;
    }

    > div > div {
        height: 100%;
        margin-bottom: 50px;
        position: relative;
    }
}

li {
    list-style: none;
}

h2 {
    margin: 0;
}

h3 {
    text-align: center;
}

.navbar {
    margin-bottom: 0;
}


footer {

    background-image: url(../../img/footer.png);
    overflow: hidden;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    .box-shadow-footer();

    .navbar {

        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;

        .footer-active {
            background-image: url(../../img/footer_active.png);
        }

        .nav {
            margin: 0 auto;
            float: none;
            overflow: hidden;
        
            li {
                width: 33.3333%;



                a {
                    text-align: center;
                    color: white;
                    text-shadow: none;

                    &:hover {
                        color: white;
                    }
                }

                #graphs-li {
                    border-right: 1px solid black;
                    border-left: 1px solid black;
                }
            }
        }

    } 
}

#login {

    input {
        display: block;
        margin: 0 auto 10px;
    }

    input:first-child {
        margin-top: 20px;
    }

    input:nth-child(2) {
        margin-bottom: 30px;
    }

    a {
        display: block;
        margin: 0 auto 10px;
        width: 130px;
    }
}

#login-succ {
    display: none;

    h3 {
        width: 80%;
        line-height: 30px;
        margin: 0 auto 20px;
    }
}

#login-fail {
    display: none;
}

#category, #today, #graphs {
    width: 100%;
}

#category {

    overflow: scroll;

    ul {
        margin: 0;
        float: right;

        li {
            height: 40px;
            background-color: @red;
            padding: 10px;
            margin-bottom: 5px;
            font-size: 17px;
            color: white;
            .rounded-corners-left(8px);

        }

        li .destroy {
            float: left;
            position: relative;
            top: 16px;
        }

        input {
            width: 90%;
            float: right;
            border: none;
            background-color: @red;
            box-shadow: none;
        }
    }
}

    #new-activity, #new-activity-today {
        display: block;
        margin: 0 auto;
        width: 84%;
        padding: 3%;
        margin-bottom: 20px;
    }

#today {

    input {
        margin: 0 auto 20px;
        display: block;
    }

    a {
        display: block;
        margin: 0 auto;
        width: 100px;
    }

        p {
            color: white;
        }

    .ui-slider-handle {
        width: 20px;
    }

    #slider {
        width: 80%;
        margin: 0 auto 20px;
    }

}

#today-category {

ul {
    overflow: hidden;
    float: right;
    width: 90%;
    margin-right: -10px;
    .animation-right();
}
    li {
        .list-view();
        background-color: @turq;
    }

    h4 {
        text-align: center;
    }

    input {
        width: 50px;
        float: left;
    }
}

#submit-today {
    
    margin: 0 auto;
    display: block;
    width: 150px;
    clear: both;
}

.btn-back {
    position: fixed;
    top: 8px;
    left: 10px;
    z-index: 10;
}

.btn-login {
    position: absolute;
    top: 8px;
    right: 10px;
}

#today-summary {

    article {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;

        span {
            font-weight: bold;
        }
    }

    article:first-child {
        margin-bottom: 20px;
    }

    ul {
        overflow: hidden;
        width: 90%;
        float: right;
        margin-right: -10px;
        margin-bottom: 20px;
        .animation-right();
    }

    li {
        background-color: @orange;
        .list-view();

    }

    .btn {
        width: 100px;
        display: block;
        margin: 0 auto;
    }
}

.bar-chart {

    overflow: visible;
    margin: 30px auto 20px;
    height: 180px;  
    width: 280px;
        
    li {
        background-color: @darkYellow;
        height: 150px;
        width: 30px;
        float: left;
        margin-right: 10px;
        position: relative;
    }  

        #sat, #sun {
            background-color: @orange;
        }

    a {
        display: block;
        height: 100%;
    }

    h4 {
        position: absolute;
        bottom: -35px;
        left: 10px;
    }

    h5 {
        position: absolute;
        top: -30px;
        left: 5px;
        color: @orange;
    }
}

#graphs {

    section {
        width: 200px;
        margin: 0 auto;
        position: relative;

        h3 {
            font-size: 20px;
        }

        .left {
            float: left;
            position: absolute;
            left: -28px;
            top: 0;
        }

        .right {
            float: right;
            position: absolute;
            right: -28px;
            top: 0;
        }
    }
}

#activities-metrics {

     ul {

        overflow: hidden;
        float: left;
        width: 90%;
        margin-left: -10px;
        .animation-left();

        li {
            background-color: @red + #444;
            font-weight: 500;
            float: left !important;
            .list-view();
            .rounded-corners(8px);

            h4 {
                float: left;
                margin: 0 30px 0 10px;
            }
        }

        li:first-child {
            background-color: @red;
        }

        li:nth-child(2) {
            background-color: @red + #222;
        }

        li:nth-child(3) {
            background-color: @red + #444;
        }
    }
}
#single-day {

    .bar-chart-single {
        margin: 0;
        width: 30%;
        margin-left: -10px;
        .animation-left();
        .box-shadow();

        li {
            height: 100px;
            background-color: @darkYellow;
            padding: 5%;
            
        }

        h4, h5 {
            text-align: center;
        }

        h4 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        h5 {
            color: black;
            font-size: 30px;
        }
            
        
    }
}
#single-day-activities {
        
        width: 60%;
        float: right;
        margin-right: -10px;
        .animation-right();

        li {
            background-color: @red;
            .list-view();
        }


}
.btn-group {
    margin: 10px auto;
    display: block;
    width: 240px;

    > a {
        width: 90px;
    }
}









/* Behavior 
================================ */

.editing {
    background-color: black;
    color: white;
}